.error-section {
    min-height: calc(100vh - 63.8px);

    .inner-banner {
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color_black, 0.44);
        }

        .container {
            position: relative;
        }

        .content-box {
            position: relative;
            padding: 140px 0 60px 0;
            text-align: center;
            min-height: 300px;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            
            >* {
                color: $color_white;
            }
    
            .site-logo {
                position: absolute;
                top: 30px;
                left: 0;
                height: 45px;
                display: inline-flex;
    
                img {
                    height: 100%;
                }
            }
        }
    }

    .login-form {
        background-color: #eeeeee;
        margin: 0 auto 30px;
    }
}