.btn {
    // --btn_dimention: 50px;
    --btn_dimention: 3.125rem;
    min-height: var(--btn_dimention);
    font-size: rem(20px);
    padding: rem(5px) rem(35px);
    border-radius: rem(5px);
    line-height: normal;
    @include btn(500, capitalize);
    font-family: $font_title;
    position: relative;
    @include transition;

    @include breakpoint(mobile) {
        --btn_dimention: 40px;
        font-size: 14px;
    }

    &:hover,
    &:focus {
        outline: none;
    }

    &:hover {
        transform: translateY(-0.15em);
    }

    &.sm {
        font-size: rem(14px);
        // --btn_dimention: 35px;
        --btn_dimention: 2.188rem;
        padding: rem(2px) rem(15px);
    }

    &.btn-primary {
        background-color: $color_primary;
        border: 1px solid $color_primary;
        color: $color_white;

        &.br {
            background-color: transparent;
            border: 1px solid $color_primary;
            color: $color_primary;
        }
    }

    &.btn-secondary {
        background-color: $color_text;
        border: 1px solid $color_text;
        color: $color_white;

        &:hover {
            background-color: $color_primary;
        }
    }

    &.btn-grey {
        background-color: #dddddd;
        border: 1px solid #dddddd;
        color: #747474;

        &:hover {
            color: $color_black;
        }
    }

    &.btn-icon {
        min-width: calc(var(--btn_dimention) + 5px);
        padding: 0;

        @include breakpoint(mobile) {
            min-width: var(--btn_dimention);
        }

        img,
        i {
            margin: 0 !important;
        }

        img {
            @include breakpoint(mobile) {
                height: 20px;
            }
        }

        i {
            @include breakpoint(mobile) {
                font-size: 20px;
            }
        }

        &::after {
            display: none;
        }
    }
}