@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

// Colors
$color_primary: #8A2F35;
$color_green: #40887A;
$color_blue: #0668A8;
$color_purple: #713F8A;
$color_heading: #434343;
$color_text: #434343;
$color_light_grey: #f3f3f3;
$color_white: #ffffff;
$color_black: #000000;

$fw: "font-weight";
$ff: "font-family";
$fs: "font-size";
$c: "color";


// Brand color
$color-facebook: #3b5998;
$color-feedly: #2bb24c;
$color-github: #333;
$color-google: #dc4e41;
$color-instagram: #3f729b;
$color-linkedin: #0077b5;
$color-medium: #00ab6b;
$color-messenger: #0084ff;
$color-rss: #f26522;
$color-spotify: #2ebd59;
$color-twitter: #55acee;

// Font Size
$base-font-size: 16;


// Font Family
$font_title: 'Montserrat', sans-serif;
$font_text: 'Open Sans', sans-serif;